.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 80vh;
  width:70%;
  margin-left: 35%
  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



/*Side bar and filter**/
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#sidebar {
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: gold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
}

.art-lyon {
  margin-left: 40px;
}

.credits {
  margin-left: 40px;
}

.location-list-item {
  list-style: none outside;
  font-size: 1.2rem;
  margin-right: 30px;

}

.search-locations {
  margin: 15px 40px 0px 40px;
  height: 30px;
  width: 75%;
  padding: 10px 10px 10px 30px;
  font-size: 1.2rem;
}

.sidebar-button {
  height: 25px;
  margin-right: 20px;
  font-size: 1.2rem;
}

/**
 * Make site responsive to tiny phone
 */
@media screen and (max-width: 400px){

  #search {
    width: 400px;
  }

  body {
    font-size: 1rem;
  }
}


/*
 * Make site responsive to small phones
 */
@media screen and (max-width: 400px){

  #search {
    width: 360px;
  }
}

/*
 * Make site responsive to phones
 */
@media screen and (min-width: 401px) and (max-width: 600px){

}

/*
 * Make site responsive to tablets
 */
@media screen and (min-width: 601px) and (max-width: 800px){

}